    <input type="{{type}}" name="{{name}}" class="input {{class}}" value="{{value}}" placeholder="{{label}}" {{#if required}} required {{/if}}/>
    <label class="label" for="">{{label}}</label>
    <div class="form__error">{{errorText}}</div>