<ul class="settings__data">
    {{{email}}}
    {{{login}}}
    {{{name}}}
    {{{surname}}}
    {{{chatname}}}
    {{{phone}}}
</ul>

<ul class="settings__data">
    <li><a href="" class="c-blue">Изменить данные</a></li>
    <li><a href="" class="c-blue">Изменить пароль</a></li>
    <li><a href="" class="c-red">Выйти</a></li>
</ul>