<div class="site-navigation">
    <h1>Список сверстанных страниц</h1>

    <ul class="site-navigation__list">
        <li class="site-navigation__el">
            <span>Ошибка 404</span>
            {{{button404}}}
        </li>
        <li class="site-navigation__el">
            <span>Ошибка 500</span>
            {{{button500}}}
        </li>
        <li class="site-navigation__el">
            <span>Форма Вход</span>
            {{{buttonLogin}}}
        </li>
        <li class="site-navigation__el">
            <span>Форма Регистрация</span>
            {{{buttonReg}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат выбор</span>
            {{{buttonChatEmpty}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат переписка</span>
            {{{buttonChat}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат функции чата</span>
            {{{buttonChatFunctions}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат поиск</span>
            {{{buttonChatSearch}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат Добавить пользователя</span>
            {{{buttonChatAddUser}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат Удалить пользователя</span>
            {{{buttonChatRemoveUser}}}
        </li>

        <li class="site-navigation__el">
            <span>Профиль </span>
            {{{buttonProfil}}}
        </li>
        <li class="site-navigation__el">
            <span>Профиль изменение данных</span>
            {{{buttonProfilEdit}}}
        </li>
        <li class="site-navigation__el">
            <span>Профиль Загрузите файл</span>
            {{{buttonProfileModal}}}
        </li>
        <li class="site-navigation__el">
            <span>Профиль Загрузите файл - успешно</span>
            {{{buttonProfileModalLoaded}}}
        </li>
        <li class="site-navigation__el">
            <span>Профиль Загрузите файл - ошибка файла</span>
            {{{buttonProfileModalErrorFile}}}
        </li>
        <li class="site-navigation__el">
            <span>Профиль Загрузите файл - ошибка загрузки</span>
            {{{buttonProfileModalErrorLoad}}}
        </li>
    </ul>
</div>
