<div class="site-navigation">
    <h1>Список сверстанных страниц</h1>

    <ul class="site-navigation__list">
        <li class="site-navigation__el">
            <span>Ошибка 404</span>
            {{{button404}}}
        </li>
        <li class="site-navigation__el">
            <span>Ошибка 500</span>
            {{{button500}}}
        </li>
        <li class="site-navigation__el">
            <span>Форма Вход</span>
            {{{buttonLogin}}}
        </li>
        <li class="site-navigation__el">
            <span>Форма Регистрация</span>
            {{{buttonReg}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат выбор</span>
            {{{buttonChatEmpty}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат переписка</span>
            {{{buttonChatCorrespondence}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат функции чата</span>
            {{{buttonChatFunctions}}}
        </li>
        <li class="site-navigation__el">
            <span>Чат поиск</span>
            {{{buttonChatSearch}}}
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageChat/pageChat-add-user.hbs" class="site-navigation__link fs-16">Чат добавить пользователя</a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageChat/pageChat-remove-user.hbs" class="site-navigation__link fs-16">Чат удалить пользователя</a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageProfil/pageProfile.hbs" class="site-navigation__link fs-16">Профиль </a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageProfil/pageProfile-edit.hbs" class="site-navigation__link fs-16">Профиль изменение данных</a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageProfil/pageProfile-modal.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл</a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageProfil/pageProfile-modal-ok.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл - успешно</a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageProfil/pageProfile-modal-error-file.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл - ошибка</a>
        </li>
        <li class="site-navigation__el">
            <a target="_blank" href="pages/pageProfil/pageProfile-modal-error-load.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл - ошибка загрузки</a>
        </li>
    </ul>
</div>