<div class="aside">
    <div class="aside__header">
        <div class="text-right">
            <button class="js--toggle-data no-style">
                Профиль
                <span class="icon-angle-right"></span>
            </button>
        </div>
        {{{formSearchChat}}}
        {{{chatList}}}
    </div>
</div>

<div class="chat">
    {{{chatHeader}}}
    {{{chatContent}}}
    {{{chatFooter}}}
</div>