<ul class="settings__data">
    {{{profileElLogin}}}
    {{{profileElName}}}
    {{{profileElSurname}}}
    {{{profileElChatname}}}
    {{{profileElPhone}}}
</ul>

{{#if disabled}}
    <ul class="settings__data">
        <li><a href="" class="c-blue">Изменить данные</a></li>
        <li><a href="" class="c-blue">Изменить пароль</a></li>
        <li><a href="" class="c-red">Выйти</a></li>
    </ul>
{{/if}}

{{#unless disabled}}
    {{{button}}}
{{/unless}}