<form action="" method="" class="form">
    <div class="form__content">
        <h1>Вход</h1>
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputPhone}}}
        {{{inputOldPassword}}}
        {{{inputNewPassword}}}
    </div>
    <div class="form__buttons text-center">
        {{{button}}}
        <a href="" class=" c-blue">Войти</a>
    </div>
</form>